.bg-navbar {
  // background-color: #563d7c; // bootstrap 官网
  background-color: #6f5499;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.20), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
  min-height: 3rem;
}

.navbar-nav {
  .nav-link {
    color: rgba(255, 255, 255, 0.85);
    &:focus,
    &:hover {
      color: rgb(255, 255, 255);
    }
  }
}

.footer {
  text-align: center;
  padding: 1rem 3rem;
  background: #263238;
  color: #fff;
}