.card
  h6.card-header 社交媒体
  .list-group.list-group-flush
    a.list-group-item.list-group-item-action(href="javasript:;")
      i.fa.fa-video-camera
      | &nbsp;优酷视频教程
    a.list-group-item.list-group-item-action(href="javasript:;")
      i.fa.fa-youtube
      | &nbsp;油管视频教程
    a.list-group-item.list-group-item-action(href="javasript:;")
      i.fa.fa-github
      | &nbsp;我的主页
