.card
  h6.card-header QQ群
  .list-group.list-group-flush
    a.list-group-item.list-group-item-action(href="javasript:;")
      i.fa.fa-qq
      | &nbsp;Angular 1区:xxxxxxxxx（满）
    a.list-group-item.list-group-item-action(href="javasript:;")
      i.fa.fa-qq
      | &nbsp;Angular 2区:xxxxxxxxx（满）
    a.list-group-item.list-group-item-action(href="javasript:;")
      i.fa.fa-qq
      | &nbsp;Angular 3区:xxxxxxxxx（满）
    a.list-group-item.list-group-item-action(href="javasript:;")
      i.fa.fa-qq
      | &nbsp;Angular 4区:xxxxxxxxx（满）
    a.list-group-item.list-group-item-action(href="javasript:;")
      i.fa.fa-qq
      | &nbsp;Angular 5区:xxxxxxxxx（满）
    a.list-group-item.list-group-item-action(href="javasript:;")
      i.fa.fa-qq
      | &nbsp;Angular 6区:xxxxxxxxx
